
@{
    ViewData["Title"] = "História";
    Layout = "_Layout_dashboard";
}

<style>
    main{
        display:flex;
        justify-content: center;
    }
    .historia {
        background: #95d4e0;
        border: none;
        border-radius: 25px;
    }
    </style>

<div class="col-md-8 card p-4 historia">
<h4>História</h4>
</div>
