
@{ ViewData["Title"] = "CadastroProduto";

    @model List<string>;

    Layout = "_Layout_dashboard"; }


<style>
    .image-upload > input {
        display: none;
    }

    .image-upload {
        padding-top: 5px;
        border: dashed 1px;
        margin-bottom: 10px;
    }

    .img_icon {
        font-size: 32px;
    }
</style>
@Html.Raw(ViewData["Valida"])
<h5>Carregar Imagens</h5>
<hr />
<form method="post" enctype="multipart/form-data" asp-controller="Dashboard" asp-action="UploadFiles">
    <div class="row">
        <div class="form-group col-md-4" style="padding-bottom:2em;">
            <div class="image-upload text-center">
                <label for="f_Foto1" class="F1"><i class="fa fa-camera img_icon"></i><div>Clique aqui para carregar Imagem</div></label>
                <input id="f_Foto1" type="file" accept="image/*" name="files" multiple />
                <input id="txt_foto" type="hidden" />
            </div>
        </div>
        <div class="form-group col-md-4">
            <button type="submit" class="btn btn-success" style="margin-top:30px;">Adicionar Imagem</button>
        </div>
    </div>
</form>

@*<form method="post" enctype="multipart/form-data" asp-controller="Dashboard" asp-action="UploadFiles">
        <div class="form-group">
            <div class="col-md-10">
                <p>Imagens</p>
                <input type="file" name="files" multiple />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <button type="submit" class="btn btn-success" style="margin-top:25px;">Adicionar Imagem</button>
            </div>
        </div>
    </form>*@

<hr />
<h5>Selecione uma Imagem para usar como Logomarca</h5>
<hr />
@foreach (var item in Model)
{
    <div class="col-6 col-lg-4 no-padding text-center">
        <div class="card border-success m-2 rounded">
            <div class="card-body" style="height:230px;">
                <div class="text-center">
                    <div><img src="~/imagens/@item" style="max-height:150px; max-width: 200px" /></div>
                </div>
                <div>
                    <button type="button" class="btn btn-warning btn-sm" onclick="window.location.href='/Dashboard/FotoSelecionada?Nome=@item'" style="margin-top: 25px;"><i class="fa fa-edit"></i></button>
                </div>
            </div>
        </div>
    </div>
}

<script src="~/js/compress.js"></script>
<script>

    $(document).ready(function () {

        AjustarIMG('f_Foto1', 'F1', 'txt_foto');

    });

    function AjustarIMG(_upload, _preview, IdReturn) {

        const compress = new Compress()
        const preview = document.getElementById(_preview);
        const upload = document.getElementById(_upload);

        upload.addEventListener('change', (evt) => {
            $("." + _preview).html("<div class='text-center' role='alert' style='max-width:100%;height:128px;padding-top:55px;'><img src='/img/loading.gif' /> Carregando</div>");
            const files = [...evt.target.files]
            compress.compress(files, {
                size: 1, // the max size in MB, defaults to 2MB
                quality: 0.75, // the quality of the image, max is 1,
                maxWidth: 1920, // the max width of the output image, defaults to 1920px
                maxHeight: 1920, // the max height of the output image, defaults to 1920px
                resize: true // defaults to true, set false if you do not want to resize the image width and height
            }).then((images) => {


                const img = images[0]

                $("." + _preview).html("<img class='img-thumbnail' src='" + `${img.prefix}${img.data}` + "' style='max-width:100%;height:128px;' />");
                $("#" + IdReturn).val(img.prefix + img.data);

            })
        }, false)
    }

</script>



