
@model tb_produto

<form asp-action="Busca" asp-controller="Home">
    <div class="input-group search-main">
        <input type="text" class="form-control" asp-for="Nome">
        <div class="input-group-append">
            <button class="btn btn-primary searchme" type="submit">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
</form>

