
@{
                @model LoginAcesso;
                ViewData["Title"] = "Login"; }

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/login.css" />

	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-5">
					<div class="login-wrap p-4 p-md-5">
		      	<div class="icon d-flex align-items-center justify-content-center">
		      		<span class="fa fa-user-o"></span>
		      	</div>
		      	<h3 class="text-center mb-4">Ja possui uma conta?</h3>
						<form action="#" class="login-form">
		      		<div class="form-group">
		      			<input type="text" class="form-control rounded-left" placeholder="email" required>
		      		</div>
	            <div class="form-group d-flex">
	              <input type="password" class="form-control rounded-left" placeholder="senha" required>
	            </div>
	            <div class="form-group d-md-flex">
	            	<div class="w-50">
	            		<label class="checkbox-wrap checkbox-primary text-secondary">Lembrar
									  <input type="checkbox" checked>
									  <span class="checkmark"></span>
									</label>
								</div>
								<div class="w-50 text-md-right">
									<a href="#" class="text-secondary">Esqueci minha senha</a>
								</div>
	            </div>
	            <div class="form-group">
	            	<button type="submit" class="btn btn-primary rounded submit p-3 px-5">Entrar</button>
	            </div>
	          </form>
	        </div>
				</div>
			</div>
		</div>
	</section>


@section Scripts {
    <script>
        $(() => {
            $("#btentrar").click(function () {
                $(this).hide();
                $(".clsReg").hide();
                $(".clsErro").hide();
                $("#loadin").html("<div class='alert alert-light text-center' role='alert'><img src='./img/loading.gif' /> Aguarde...</div>");
            });
        });
    </script>
}
