@{
    @model tb_pagamento_dados;
    ViewData["Title"] = "Dados de Pagamento";

    Layout = "_Layout_dashboard"; }

<h5>Dados PagSeguro</h5>
<hr />
<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    @*<div class="card-header row">
                            <div class="col-md-8"><strong class="card-title">Dados do PagSeguro</strong></div>
                            <div class=" col-md-2"><button class="btn btn-primary" type="button" onclick="window.location.href ='/pagamento/cadastropagamentodados'">Novo Dados PagSeguro</button></div>
                        </div>*@
                    <div class="card-body">
                        <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Email</th>
                                    <th>Token</th>
                                    <th>Editar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Model.IdPagamento</td>
                                    <td>@Model.Email</td>
                                    <td>@Model.Token</td>
                                    <td><button type="button" class="btn btn-warning btn-sm" onclick="window.location.href='/pagamento/editar?IdPagamento=@Model.IdPagamento&Email=@Model.Email&Token=@Model.Token'"><i class="fa fa-edit"></i></button></td>
                                    <td><button type="button" class="btn btn-danger btn-sm" onclick="window.location.href='/pagamento/excluir?IdPagamento=@Model.IdPagamento'"><i class="fa fa-trash"></i></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .animated -->
</div><!-- .content -->
